.content {
    padding-top: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

mat-form-field {
    width: 50%;
}

.title {
    background-color: #e05959;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}

.actions {
    padding: 0px 25px 20px;
}

.actions button {
    flex: 1;
}
.input{
    height: 10px;
    width:100%;
}