<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">HOME</a>
        <a class="nav-item nav-link" href="#">SERVICES</a>
        <a class="nav-item nav-link" href="#">ABOUT</a>
        </div>
        <div class=" ms-auto order-2" style="padding-right: 20px;">
        <a class="nav-item nav-link" (click)="login()" style="cursor: pointer;">LOGIN</a>
      </div>
    </div>
  </nav>