ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(193, 78, 78);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
.navbar-nav{
    height: 20px;
    padding-bottom: 50px;
    background-color: inherit;
}