<div class="table-container">
    <table>

        <tr>
            <th style="width:50%">Car Service List</th>
            <th style="text-align: right;">Price Starts From(&#8377;)</th>
          </tr>
          <tr>
            <td>1. Car Dry Cleaning</td>
            <td style="text-align: right;">&#8377;999</td>
          </tr>
          <tr>
            <td>2. Car Washing</td>
            <td style="text-align: right;">&#8377;499</td>
          </tr>
          <tr>
            <td>3. Car Vaccum Cleaning</td>
            <td style="text-align: right;">&#8377;499</td>
          </tr>

    </table>
    <br>
</div>