
<div class="container">
  <div class="row">
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <div class="card-header" style="font-weight: bold;">
          <img src="../assets/comparison-car.png" width="30" height="30"><br>
          Car Brand & <br> Model
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Hatchback</li>
          <li class="list-group-item">Sedan</li>
          <li class="list-group-item">Luxury</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card" style="width: 18rem;">
        <div class="card-header"style="font-weight: bold;">
          <img src="../assets/asc-car.png" width="30" height="30"><br>
          Authorized Service Center <br>Price
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="text-decoration:line-through">&#8377;3999</li>
          <li class="list-group-item" style="text-decoration:line-through">&#8377;4599</li>
          <li class="list-group-item" style="text-decoration:line-through">&#8377;21999</li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card" style="width: 15rem;">
        <div class="card-header"style="font-weight: bold;">
          <img src="../assets/carloho-removebg-preview.png" width="40" height="40"><br>
          CarMechanic <br> Price
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="color:#e05959">&#8377;1999</li>
          <li class="list-group-item" style="color:#e05959">&#8377;2399</li>
          <li class="list-group-item" style="color:#e05959"> &#8377;12999</li>
        </ul>
      </div>
    </div>

  </div>

</div>

<br>